@charset 'UTF-8';

/*

Cores 1 - #0060E0
Cores 2 - #9140D6

*/

:root{
    --cor01: #0060E0;
    --cor02: #9140D6;
    --cor03: #3b77c5;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
}

html, body{
    width: 100vw;
    height: 100vh;
    background-color: var(--cor02);
}

main{
    width: 100vw;
    height: 100vh;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background-color: white;
    height: 550px;
    width: 300px;
    border-radius: 20px;
}

section#login > div#foto{
    background: var(--cor02) url('../imagens/pexels-joshua-welch-1624600.jpg') center center;
    background-size: cover;
    height: 200px;
}

section#login > div#formulario{
    padding: 10px;
}

section#login > div#formulario  h1{
    text-align: center;
    padding-bottom: 10px;
}

section#login > div#formulario p{
    padding-bottom: 20px;
}

div.informacao{
    background-color: var(--cor02);
    border-radius: 10px;
    border: 5px solid var(--cor02);
    margin-bottom: 5px;
}

div.informacao > span{
    color: white;
    font-size: 2em;
}

div.informacao input{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    width: calc(100% - 37px);
    transform: translateY(-4px);
    height: 40px;
    border: 0px;
    border-radius: 10px;
    padding-left: 10px;
}

div.informacao input:hover{
    border: 10px;
}

div.informacao label{
    display: none;
}

form > input[type=submit]{
    width: 100%;
    padding: 10px;
    background-color: var(--cor01);
    margin-top: 5px;
    border: none;
    font-size: 1.3em;
    color: white;
    border-radius: 10px;
}

form > input[type=submit]:hover{
    background-color: var(--cor03);
    cursor: pointer;
}

div#esqsenha{
    display: block;
    text-align: center;
    margin-top: 5px;
    padding: 10px;
    background-color: var(--cor02);
    border-radius: 10px;
}

div#esqsenha a{
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    vertical-align: top;
}